.env
db.sqlite3
.idea
.vscode
data

/authentication/migrations/*
!/authentication/migrations/__init__.py
/authentication/migrations/**/__pycache__/

/course/migrations/*
!/course/migrations/__init__.py
/course/migrations/**/__pycache__/